.nav{
    width: 100%;
    align-items: center;
}
.div-lista{
    width: 95%;
    height: 2rem;
    display: flex;
    justify-content: center;
    margin: 10px 0;
    margin-top: 1.5rem;
}
.lista-elemento {
    background-color: hsla(209, 94%, 55%, 0.589);
    color: hsla(59, 100%, 58%, 0.959);
    -webkit-text-stroke: 1px hsla(61, 100%, 54%, 0.9);
    padding: 5px 10px;
    border: 2px solid hsla(209, 100%, 26%, 0.959);
    transition: transform 0.2s ease-out;
  }
.lista-elemento:hover{
  transform: translateY(-8px);
}
  .lista-elemento.seleccionado {
    background-color: rgba(255, 60, 0, 0.651);
  color: hsla(59, 100%, 58%, 0.959);
  -webkit-text-stroke: 1px hsla(0, 0%, 100%, 0.9);
  border: 2px solid rgb(255, 60, 0);
  width: 1rem;
  }
  
  .lista-elemento.no-seleccionado {
    background-color: white;
    color: black;
  }
